.nav {
  display: flex;
  width: 100%;
  background: url("https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 98vh;
}

.nav-links {
  margin-top: 22px;
  height: 63px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.7);
}

.nav-links ul {
  margin-top: 20px;
  margin-right: 50px;
}

.nav-links ul li {
  display: inline;
  padding: 14px;
  color: #fff;
}

.logo img {
  height: 100px;
  width: 200px;
}

.navItems {
  text-align: center;
  position: absolute;
  top: -334px;
  left: 370px;
  font-size: 25px;
  color: #fff;
}
.outerNav {
  position: relative;
}

.btn {
  padding: 10px 46px;
  color: white;
  background-color: orangered;
  border: none;
  font-size: 800, bold;
}

.row {
  display: flex;
}

.column {
  flex: 33%;
  padding: 5px;
}

.laptop
{
  padding: 20px;
}
.text{
  text-align:  center;
  color: black;
}